h2 {
  background-color: rgba(89, 151, 0);
  color: #5fcffc;
}

button {
  background-color: cyan;
  color: magenta;
}

p {
  color: olive;
  background: orange;
}

body {
  background-color: #d85cfa;
}
